<div class="container-infos">

    <div class="container-img">
        <img src="/assets/img/ranger.png" alt="Imagem da Ford Ranger">
    </div>

    <div class="container-right">

        <div class="container-content">

            <div class="container-right-img">
                <img src="/assets/img/ford.png" alt="Logomarca da FORD">
            </div>

            <div class="container-forms">

                <h2 class="container-forms-subtitle">Boas-vindas</h2>

                <form onsubmit="" action="" method="get" class="form">

                    <div class="container-input">
                        <label for="input-email">>
                            <input type="email" name="input-email" id="input-email" placeholder="Digite seu e-mail"
                                required>
                        </label>
                    </div>

                    <div class="container-input">
                        <label for="input-password">
                            <input type="password" name="input-password" id="input-password"
                                placeholder="Insira sua senha" required>
                        </label>
                    </div>

                    <div class="container-input-auto-login">
                        <label for="auto-login">Logar automaticamente</label>
                        <input type="checkbox" id="auto-login" name="auto-login">
                    </div>

                    <button type="submit" disabled>Entrar</button>
                </form>
            </div>
        </div>
    </div>

</div>